body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.header {
  background: #0b5d4b;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

.container {
  padding: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 6px 0;
  padding: 12px;
  border-radius: 6px;
}

.ayah {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.arabic {
  font-size: 22px;
  direction: rtl;
}

.bangla {
  color: #00695c;
}

.english {
  color: #444;
}
